.content {
	margin: 0 auto;
	max-width: 1920px;
	position: relative;
}

.signup {
	margin: 30px auto 170px;
	padding: 0 208px 0 832px;

	display: flex;
	flex-direction: column;

	&__wrap {
		display: flex;
		// align-items: center;
		// gap: 80px;
		position: relative;
	}

	&__image {
		padding-bottom: 10px;

		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;

		&_organizer {
			position: fixed;
			top: 0;
			left: 0;
			width: 695px;
			height: 1000px;
			background-image: url(../../images/signup_background_image_organize.svg);
			translate: 102px 20px;
		}

		&_volunteer {
			position: fixed;
			top: 0;
			left: 0;
			width: 695px;
			height: 624px;
			translate: 58px 150px;
			background-image: url(../../images/signup_background_image.svg);
		}
	}

	&__content-wrap {
		display: flex;
		flex-direction: column;
		// gap: 27px;
	}
	&__title {
		margin: 14px 0 26px 0;

		font-family: Fira Sans;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 56px */
	}
}

@media screen and (max-width: 1919px) {
	.signup {
		padding: 0 0 0 565px;
		margin: 20px auto 20px;

		display: flex;
		flex-direction: column;
		position: relative;

		&__wrap {
			display: flex;
			// align-items: center;
			// gap: 80px;
			position: relative;
		}

		&__image {
			margin-bottom: 50px;

			border-radius: 50px;

			background-position: center center;
			background-repeat: no-repeat;
			background-color: transparent;

			&_volunteer {
				position: fixed;
				top: 0;
				left: 0;
				width: 508px;
				height: 438px;
				background-image: url(../../images/signup_background_image_1366.svg);
				translate: 83px 140px;
			}
			&_organizer {
				position: fixed;
				top: 0;
				left: 0;
				width: 508px;
				height: 438px;
				background-image: url(../../images/signup_background_image_organize_1366.svg);
				translate: 100px 150px;
			}
		}
		&__content-wrap {
			display: flex;
			flex-direction: column;
			// gap: 27px;
		}
		&__title {
			margin: 6px 0 20px 0;

			font-size: 34px;
			font-weight: 500;
			line-height: 130%; /* 44.2px */
		}
	}
}
