.content {
	margin: 0 auto;
	max-width: 1920px;
}

.signup {
	margin: 78px auto 72px;
	padding: 0 130px 0;

	display: flex;
	flex-direction: column;

	&__wrap {
		display: flex;
		align-items: center;
		gap: 64px;
	}

	&__image {
		margin: 6px 0 0;

		border-radius: 10px;

		min-width: 680px;
		height: 967px;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: 722px 625px;

		&_organizer {
			background-image: url(../../images/signup_background_image_organize.svg);
		}
		&_volunteer {
			background-image: url(../../images/signup_background_image.svg);
		}
	}
	&__content-wrap {
		display: flex;
		flex-direction: column;
		// gap: 27px;
	}
	&__title {
		margin: 0 0 21px 0;

		font-family: Fira Sans;
		font-size: 56px;
		font-style: normal;
		font-weight: 500;
		line-height: 100%; /* 56px */
	}
}
