@import '../../style/variables.scss';

.select-option {
	margin: 4px 0 0;

	&__container {
		color: $--Black;
		font: {
			family: 'Fira Sans', sans-serif;
			size: 17px;
			weight: 400;
			style: normal;
		}
		line-height: 20px;
	}

	&__label {
		color: $--Dark-grey;
		font: {
			family: 'Fira Sans', sans-serif;
			size: 12px;
			weight: 400;
			style: normal;
		}
	}

	&__error-message {
		color: $--Error;
		display: none;
		font: {
			family: 'Fira Sans', sans-serif;
			size: 12px;
			weight: 400;
			style: normal;
		}
	}

	&__error-message_show {
		display: inline-block;
		min-height: 24px;
	}
}
