@import '../../style/variables.scss';

@keyframes appearance-main {
	from {
		transform: translate(0, -50px);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes appearance-modal {
	from {
		transform: translate(-50px, 0);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.popup-window {
	z-index: 999;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 25px 30px;
	gap: 10px;
	max-width: 515px;
	border-radius: 5px;
	opacity: 0;
	transition:
		visibility 2s,
		opacity 2s linear;
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	animation: appearance-main 2s;

	&_opened {
		visibility: visible;
		opacity: 1;
	}

	&_type_success {
		background-color: $--Secondary;
	}

	&_type_error {
		background-color: $--Error;
	}

	&_type_modal {
		top: 443px;
		right: 0;
		animation: appearance-modal 2s;
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__text {
		margin: 0;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.18;
		color: $--White;
	}

	&__list-errors {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}
