@import '../../style/variables.scss';

.nav {
	&__link {
		margin: 0;
		text-decoration: none;
		color: $--Text;
		font-size: 23px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.3;
		transition: opacity 100ms ease-in;
	}

	&__link:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	&__link_active {
		font-weight: 700;
	}

	@media screen and (max-width: 1919px) {
		&__link {
			font-size: 20px;
			font-weight: 400;
			line-height: 23px;
		}
	}

	@media screen and (max-width: 450px) {
		&__link {
			color: $--White;
			font-size: 28px;
		}
	}
}
