@import '../../style/variables.scss';

.error-message {
	display: block;
	margin-top: 8px;
	color: $--Wrong;
	font: {
		family: $--Font-Primary;
		size: 15px;
		weight: 400;
		style: normal;
	}
	line-height: 17px; /* 113.333% */
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	// overflow: hidden;

	&_type-mini {
		width: 280px;
		height: 14px;
	}

	&_type-small {
		width: 400px;

		@media screen and (max-width: 1919px) {
			width: 280px;
		}
	}

	&_type-medium {
		width: 380px;
		max-height: 16px;
		text-overflow: ellipsis;
		white-space: nowrap;
		// overflow: hidden;
	}

	&_type-large {
		width: 540px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&_type-extra-large {
		width: 760px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&_type-photo {
		width: 280px;
		height: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		@media screen and (max-width: 1919px) {
			width: 14px;
		}
	}
}
