.label {
	display: block;
	width: 280px;
	height: 18px;

	color: #949494;

	font-family: Fira Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 17.746px; /* 147.883% */

	word-wrap: break-word;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	&_type-small {
	}

	&_type-medium {
	}

	&_type-large {
		font-family: Fira Sans;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px; /* 142.857% */
	}

	&_type-photo {
		width: 24px;
		height: 24px;
		border: none;

		display: none;
	}
}

.input {
	margin-top: 4px;

	display: block;
	box-sizing: border-box;

	border-radius: 10px;
	border: 1.613px solid #000;

	background-color: transparent;

	color: #000;
	font-family: Fira Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 100% */

	&_type-small {
		width: 280px;
		height: 36px;

		padding: 0 10px;
	}

	&_type-medium {
		width: 380px;
		height: 36px;

		padding: 0 10px;
	}

	&_type-large {
		margin-top: 12px;

		width: 540px;
		height: 48px;

		padding: 0 10px;
	}

	&_type-photo {
		width: 24px;
		height: 24px;

		position: relative;

		border: none;
		border-radius: 0;

		visibility: hidden;
	}

	&_type-photo::after {
		content: url('../../images/icon__signup-photo-download.svg');

		width: 24px;
		height: 24px;

		position: absolute;
		top: 0;
		left: 0;

		background-repeat: no-repeat;
		visibility: visible;

		cursor: pointer;
	}

	&_error {
		border: 1.613px solid #bf0000;
	}

	&::placeholder {
		color: #bdbdbd;
		font-family: Fira Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 100% */
	}
}

.error-message {
	display: block;

	margin-top: 4px;

	color: #bf0000;
	font-family: Fira Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 10px; /* 100% */

	word-wrap: break-word;

	text-overflow: ellipsis;
	white-space: wrap;
	overflow: hidden;

	&_type-small {
		width: 280px;
		height: 20px;
	}

	&_type-medium {
		width: 380px;
		max-height: 16px;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&_type-large {
		width: 540px;
		max-height: 16px;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
