@import '../style/variables.scss';

.router__link {
	color: $--Text;
	font-family: $--Font-Primary;
	font-size: 23px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	text-decoration: none;
	@media screen and (max-width: 1366px) {
		font-size: 15px;
	}
	&_mane {
		color: rgba(0, 0, 0, 0.6);
	}

	&:hover {
		opacity: 0.7;
		transition: opacity 100ms ease-in;
		cursor: pointer;
	}
	&_disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.6;
	}
	&_arrow {
		&::after {
			content: ' ';
			display: inline-block;
			width: 24px;
			height: 24px;
			background-image: url('../images/icon-strelka.svg');
			vertical-align: middle;
			margin: 0 7px;
		}
	}
}
