$error-color: #f78254;

.text-area {
	margin-top: 10px;

	min-width: 580px;
	max-width: 580px;
	height: 175px;

	box-sizing: border-box;

	padding: 16px;

	background-color: #fff;

	border-radius: 10px;
	border: 1px solid #000;

	font-family: Fira Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;

	&::placeholder {
		color: #959595;
		font-family: Fira Sans;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
	}

	&_error {
		border: 1px solid $error-color;

		&-message {
			height: 10px;

			display: block;

			margin-top: 2px;

			color: $error-color;
			font-family: Fira Sans;
			font-size: 10px;
			font-style: normal;
			font-weight: 400;
			line-height: 10px; /* 100% */

			word-wrap: break-word;

			text-overflow: ellipsis;
			white-space: pre-wrap;
			// overflow: hidden;
		}
	}
}

.textarea-label {
	display: block;

	width: 280px;
	height: 18px;

	margin-top: 5px;

	color: #3f3f3f;

	font-family: Fira Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;

	word-wrap: break-word;

	text-overflow: ellipsis;
	white-space: nowrap;
	// overflow: hidden;
}
