@import '../../style/variables.scss';

.request {
	box-sizing: border-box;
	max-width: 1920px;
	margin: 0 auto;

	&__container {
		max-width: 1660px;
		margin: 0 auto 100px;
		display: flex;
		flex-direction: column;
		gap: 35px;
		position: relative;
	}

	&__container-title {
		display: flex;
		flex-direction: column;
		gap: 3px;
		max-width: 878px;
	}

	&__title {
		margin: 0;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		color: $--Primary;
	}

	&__subtitle {
		margin: 0;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.48;
		color: $--Text;
	}
}

.form-request {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;

	&__button {
		border: none;
		background-color: $--Primary;
		color: $--White;
		font-family: $--Font-Primary;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		padding: 12px;
		border-radius: 10px;
		margin-top: 41px;
		transition: opacity 100ms ease-in;
	}

	&__button:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 20px;
		min-width: 400px;
	}

	&__inputs-fields {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__textarea {
		box-sizing: border-box;
		padding: 24px 28px;
		background-color: transparent;
		color: $--Primary;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.15;
		font-family: $--Font-Primary;
		border-radius: 10px;
		border: 1px solid $--Primary;
		width: 820px;
		height: 405px;
		resize: none;
	}

	&__textarea::placeholder {
		color: $--Dark-grey;
	}

	&__textarea:focus {
		outline: none;
	}

	&__textarea-label {
		margin: 0;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.15;
		color: $--Text;
		margin-bottom: 8px;
	}

	&__container-textarea {
		display: flex;
		flex-direction: column;
	}

	&__textarea_error {
		border-color: $--Error;
	}

	&__error {
		margin: 0;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		color: $--Error;
		height: 20px;
		margin-top: 2px;
	}
}

.recaptcha {
	visibility: hidden;
	align-self: flex-end;
	&_active {
		visibility: visible;
	}
}

@media screen and (max-width: 1919px) {
	.request {
		background-image: none;
	}
	.form-request {
		gap: 70px;
	}
	.request__container {
		max-width: 1178px;
		&-title {
			max-width: 697px;
		}
	}
	.form-request__textarea {
		width: 701px;
	}

	@media screen and (max-width: 450px) {
		.request__container {
			max-width: 358px;
			margin-top: 50px;
		}

		.request__title {
			font-size: 28px;
		}
		.request__subtitle {
			font-size: 18px;
		}

		.request__container-title {
			gap: 32px;
		}
		.form-request__textarea {
			width: 358px;
			height: 220px;
			padding: 22px;
		}
		.form-request {
			gap: 32px;
		}
		.form-request__inputs {
			min-width: 358px;
		}
	}
}
