.project__delete-button {
    width: 24px;
	height: 24px;
    background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: opacity 0.3s;
	background-image: url(../../images/basket.svg);
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}
