@import '../../style/variables.scss';

.password-reset {
	padding: 0 0 0 0;
	margin: 0;
	font-family: $--Font-Primary;
	min-height: 367px;
	box-sizing: border-box;

	&__header-title {
		padding: 0px 0px 32px 0px;
		margin: 0;
		color: $--Black;
		font-size: 56px;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		/* 56px */
	}

	&__header-text {
		padding: 0px 0px 32px 0px;
		margin: 0;
		color: $--Black;
		font-size: 17px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		/* 44.2px */
	}

	&__form {
		// min-height: 263px;
		max-width: 380px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 52px;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 16px;
	}

	&__label {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 4px;
		min-height: 58px;
		position: relative;
		color: $--Dark-grey;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 17.746px;
		/* 147.883% */
	}

	&__input {
		width: 100%;
		display: block;
		padding: 4px 9px;
		margin: 0;
		border-radius: 10px;
		min-height: 36px;
		box-sizing: border-box;
		border: 1px solid $--Black;
		color: $--Black;
		background-color: $--White;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 12px;
		/* 100% */
	}

	&__input::placeholder {
		color: $--Light-grey;
	}

	&__input:focus {
		outline: none;
	}

	&__input-error {
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: -14px;
		color: $--Error;
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 10px;
		/* 100% */
	}

	&__link {
		padding: 0;
		margin: 0 0 0 auto;
		display: inline-block;
		text-decoration: none;
		color: $--Dark-grey;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		/* 16.8px */
	}

	&__link:hover {
		opacity: 0.7;
		transition: opacity 100ms ease-in;
		cursor: pointer;
	}
}
