.profile {
	background: #f6f6f6;

	&__container {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-left: 134px;
		margin-bottom: 168px;
		background: white;
		border-radius: 10px;
		width: 676px;
	}
	&__image {
		background-color: #d7d7d7;
		width: 180px;
		height: 180px;
		margin-top: 36px;
		margin-left: 36px;
		border-radius: 10px;
	}
	&__name {
		margin-top: 40px;
		margin-left: 36px;
		margin-bottom: 40px;
		
		&-surname {
			margin: 0;
			font-size: 28px;
			font-weight: 500;
			line-height: 28px;
		}
	}
	&__button {
		margin-top: 234px;
		margin-bottom: 88px;
		margin-left: 36px;
	}
}
