@import '../../style/variables.scss';

.profile {
	background: #fdfdfd;

	&__personal {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-left: 134px;
		background: $--White;
		border-radius: 10px;
		width: 676px;
		min-height: 921px;
	}
	&__image {
		background-image: url('../../images/fotoProfile.svg');
		width: 180px;
		height: 180px;
		margin-top: 36px;
		margin-left: 36px;
		border-radius: 10px;
	}
	&__name {
		margin-top: 25px;
		margin-left: 36px;
		margin-bottom: 5px;

		&-surname {
			margin-top: 5px;
			font-size: 28px;
			font-weight: 500;
			line-height: 28px;
		}
	}
	&__button {
		margin-left: 170px;
		margin-bottom: 104px;
	}

	&__wrapper {
		display: flex;
		gap: 19px;
	}
	&__projects {
		width: 960px;
		min-height: 921px;
		margin-top: 40px;
		flex-direction: column;
	}
	&__projects-title {
		margin: 0;
		font-size: 56px;
		font-weight: 500;
		line-height: 100%;
	}
}

.profile__projects-tabs {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}
.profile__projects-cards {
	display: flex;
	margin-top: 54px;
	flex-wrap: wrap;
	gap: 20px;
}
.projects__pagination {
	height: 84px;
}
