.content-main {
	&__wrapper-background {
		max-width: 1920px;
		margin: 0 auto;
		background-repeat: no-repeat;
	}

	&__wrapper-background_type_join-request {
		background-image: url('../../images/main-page/cloud.png');
		background-repeat: no-repeat;
		background-size: 641px 332px;
		background-position: right bottom 363px;
	}
}
