.card {
	&__project {
		box-sizing: border-box;
		max-width: 379px;
		border-radius: 10px;
		min-height: 208px;
		border: 1px solid #9bc1f9;
		padding: 18px 14px;
	}
	&__info {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	&__status {
		display: flex;
		justify-content: space-between;
		height: 32px;
		align-items: center;
		&-count {
			margin: 0;
			font-size: 20px;
			font-weight: 700;
			line-height: 32px;
			&_moder {
				color: red;
			}
			&_end {
				font-size: 14px;
				line-height: 20px;
			}
		}
		&-icon {
			width: 24px;
			height: 24px;
			cursor: pointer;
		}
	}

	&__name {
		margin-top: 53px;
		height: 47px;
		display: flex;
		align-items: center;
	}
	&__name-title {
		margin: 0;
		font-size: 28px;
		font-weight: 500;
		line-height: 28px;
	}
	&__data {
		display: flex;
		margin-top: 22px;
		gap: 10px;

		&-city {
			margin: 0;
			font-size: 14px;

			font-weight: 300;
			line-height: 20px;
		}
		&-day {
			margin: 0;
			font-size: 14px;

			font-weight: 700;
			line-height: 20px;
		}
		&-time {
			margin: 0;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
		}
	}
}
