@import '../../style/variables.scss';
@import '../Input/ErrorMessage.scss';

.label {
	display: block;
	width: 280px;
	height: 18px;

	color: $--Text;

	font-family: Fira Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;

	word-wrap: break-word;

	text-overflow: ellipsis;
	white-space: nowrap;

	&_type-large {
		font-family: $--Font-Primary;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}

	&_type-photo {
		width: 24px;
		height: 24px;
		border: none;

		display: none;
	}
}

.input {
	margin-top: 16px;
	height: 50px;

	display: block;
	box-sizing: border-box;

	border-radius: 5px;
	border: 1px solid $--Text;

	background-color: transparent;

	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px; /* 147.883% */

	&_type-mini {
		width: 280px;
		height: 50px;

		padding: 18px 16px;
	}

	&_type-small {
		width: 400px;
		height: 50px;

		padding: 18px 16px;
	}

	&_type-medium {
		width: 380px;
		height: 36px;

		padding: 0 10px;
	}

	&_type-large {
		margin-top: 12px;

		width: 540px;
		height: 48px;

		padding: 0 10px;
	}

	&_type-extra-large {
		width: 760px;
		height: 50px;

		padding: 18px 16px;
	}

	&_type-photo {
		width: 24px;
		height: 24px;

		position: relative;

		border: none;
		border-radius: 0;

		visibility: hidden;
	}

	&_type-photo::after {
		content: url('../../images/icon__signup-photo-download.svg');

		width: 24px;
		height: 24px;

		position: absolute;
		top: 0;
		left: 0;

		background-repeat: no-repeat;
		visibility: visible;

		cursor: pointer;
	}

	&_error {
		border: 1px solid $--Wrong;
	}

	&::placeholder {
		color: $--Dark-grey;
		font-family: $--Font-Primary;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
	}
	&_empty {
		display: none;
	}
}

@media screen and (max-width: 1919px) {
	.label {
		display: block;
		width: 280px;
		height: 18px;

		color: $--Text;

		font-family: Fira Sans;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;

		word-wrap: break-word;

		text-overflow: ellipsis;
		white-space: nowrap;

		&_type-large {
			font-family: $--Font-Primary;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
		}

		&_type-photo {
			width: 24px;
			height: 24px;
			border: none;

			display: none;
		}
	}

	.input {
		margin-top: 16px;
		height: 50px;

		display: block;
		box-sizing: border-box;

		border-radius: 5px;
		border: 1px solid $--Text;

		background-color: transparent;

		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px; /* 147.883% */

		&_type-mini {
			width: 280px;
			height: 50px;

			padding: 18px 16px;
		}

		&_type-small {
			width: 280px;
			height: 50px;

			padding: 18px 16px;
		}

		&_type-medium {
			width: 380px;
			height: 36px;

			padding: 0 10px;
		}

		&_type-large {
			margin-top: 12px;

			width: 540px;
			height: 48px;

			padding: 0 10px;
		}

		&_type-extra-large {
			width: 760px;
			height: 50px;

			padding: 18px 16px;
		}

		&_type-photo {
			width: 24px;
			height: 24px;

			position: relative;

			border: none;
			border-radius: 0;

			visibility: hidden;
		}

		&_type-photo::after {
			content: url('../../images/icon__signup-photo-download.svg');

			width: 24px;
			height: 24px;

			position: absolute;
			top: 0;
			left: 0;

			background-repeat: no-repeat;
			visibility: visible;

			cursor: pointer;
		}

		&_error {
			border: 1px solid $--Wrong;
		}

		&::placeholder {
			color: $--Dark-grey;
			font-family: $--Font-Primary;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 23px;
		}
		&_empty {
			display: none;
		}
	}
}
