@import '../../style/variables.scss';

.password-recovery {
	display: block;
	padding: 0 0 0 0;
	margin: 0;
	font-family: $--Font-Primary;
	box-sizing: border-box;

	&__header-title {
		padding: 0px 0px 22px 0px;
		margin: 0;
		color: $--Text;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		max-width: 435px;
	}

	&__header-text {
		padding: 0;
		margin: 0;
		color: $--Text;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
		max-width: 435px;
	}

	&__form {
		margin-top: 44px;
		padding: 0;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 60px;
	}

	&__label {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 12px;
		min-height: 72px;
		position: relative;
		color: $--Dark-grey;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
	}

	&__input {
		width: 100%;
		display: block;
		padding: 12px 16px;
		margin: 0;
		border-radius: 5px;
		min-height: 50px;
		box-sizing: border-box;
		border: 1px solid $--Text;
		color: $--Text;
		background-color: $--White;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
		position: relative;

		&_type-error {
			border-color: $--Error;
		}
	}

	&__input::placeholder {
		color: $--Dark-grey;
	}

	&__input:focus {
		outline: none;
	}

	&__input:disabled {
		opacity: 0.5;
	}

	&__input-error {
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: -45px;
		color: $--Error;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;
	}

	&__link {
		position: absolute;
		top: 0px;
		inset-inline-end: 0px;
		padding: 0;
		margin: 0;
		display: inline-block;
		text-decoration: none;
		color: $--Text;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px;

		&_disabled {
			pointer-events: none;
			cursor: default;
			opacity: 0.6;
		}
	}

	&__link:hover {
		opacity: 0.7;
		transition: opacity 100ms ease-in;
		cursor: pointer;
	}
}
