@import '../../style/variables.scss';

.profile__menu {
	&-wrapper {
		display: flex;
		margin-top: 30px;
		margin-left: 130px;
		align-items: center;
		gap: 8px;
	}

	&-title {
		color: rgba($--Text, 0.6);
		font-size: 23px;
		font-weight: 500;
		line-height: 130%;
		margin: 0;
	}

	&-image {
		width: 24px;
		height: 24px;
	}

	&-subtitle {
		font-size: 23px;
		font-weight: 500;
		line-height: 130%;
		margin: 0;
		color: $--Text;
	}

	/*@media screen and (max-width: 1918px) {
		&-wrapper {
			margin-top: 34px;
		}
	}*/
	
}

