@import '../../style/variables.scss';

.modal {
	display: flex;
	background-color: rgba(236, 242, 251, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transition:
		visibility 0.2s,
		opacity 0.2s linear;

	&_opened {
		visibility: visible;
		opacity: 1;
	}

	&__container {
		box-sizing: border-box;
		font-family: $--Font-Primary;
		display: flex;
		flex-direction: column;
		width: 775px;
		background-color: $--White;
		padding: 30px 30px 50px;
		gap: 40px;
		border-radius: 10px;
		border: 1px solid $--Primary;
		cursor: default;
		position: relative;

		&_type_change-password {
			width: 640px;
		}
	}

	&__title-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin: 0;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
	}

	&__exit {
		border: none;
		background-color: transparent;
		background-image: url('../../images/confirm-exit.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px 24px;
		width: 24px;
		height: 24px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	&__image {
		height: 80px;
		width: 150px;
		object-fit: contain;
		object-position: center;
	}

	&__image_type_confirm {
		width: 130.371px;
		height: 169.25px;
	}

	&__image_type_success {
		width: 156.12;
		height: 80px;
	}

	&__image_type_project {
		width: 362px;
		height: 132px;
	}

	&__image_type_change-password {
		width: 346px;
		height: 154px;
	}

	&__text {
		margin: 0;
		font-size: 23px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		text-align: center;
	}

	&__text_type_confirm {
		font-size: 28px;
		font-weight: 500;
	}

	&__buttons {
		display: flex;
		gap: 20px;
	}

	&__button {
		box-sizing: border-box;
		border: none;
		padding: 9px 80px;
		border-radius: 10px;
		font-size: 23px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.3;
		font-family: $--Font-Primary;
		transition: opacity 100ms ease-in;
		background-color: $--Primary;
		color: $--White;
		margin-top: 40px;
	}

	&__button-resend {
		box-sizing: border-box;
		background-color: transparent;
		border: none;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.6;
		font-family: $--Font-Primary;
		transition: opacity 100ms ease-in;
		text-decoration: underline;
		color: $--Secondary;
	}

	&__button:hover,
	&__exit:hover,
	&__button-resend:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	&__button_type_ok {
		color: $--Dark-grey;
		background: $--Light-grey;
		border: 1px solid $--Primary;
	}

	&__button_type_no {
		background: $--Primary;
		color: $--White;
	}

	&__list-errors {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}
