$color: #a6c94f;

.toggle-button-group {
	max-width: max-content;
	box-sizing: border-box;

	margin-bottom: 28px;

	display: flex;

	border: 1px solid $color;
	border-radius: 5px;

	overflow: hidden;
}
