.project-like-btn {
	background-color: transparent;
	border: none;
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: opacity 0.3s;
	background-image: url(../../images/like.svg);
	&_state_liked {
		background-image: url(../../images/like_liked.svg);
	}
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}
