.header {
	background-color: #d7d7d7;

	&__container {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1920px;
		margin: 0 auto;
		padding: 30px 130px;
		position: sticky;
		top: 0;
	}

	&__buttons {
		display: flex;
		gap: 22px;
	}

	@media screen and (max-width: 1920px) {
		&__container {
			padding: 30px 93px;
		}
	}
}
