.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: 16px;
}

.nav__buttons {
	display: none;
}
.nav__image {
	display: none;
}

@media screen and (max-width: 450px) {
	.nav {
		display: none;
	}

	.nav__buttons {
		display: flex;
		width: 35px;
		height: 35px;
	}

	.nav__image {
		display: flex;
	}
}
