.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: 16px;
}

.nav__buttons {
	display: none;
}
.nav__image {
	display: none;
}

@media screen and (max-width: 450px) {
	.nav {
		display: none;
	}
	.nav__buttons {
		display: flex;
	}
	.nav__button {
		display: flex;
		align-items: center;
		border: 0;
		padding: 0;
		width: 35px;
		height: 35px;
		background-color: transparent;
	}
	.nav__image {
		display: flex;
	}
	.nav__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
}
