$--Light-grey: #d7d7d7;
$--Dark-grey: #959595;
$--White: #fff;
$--Black: #000;
$--Primary: #333;
$--Error: #f78254;
$--Text: #3f3f3f;
$--Button_primary: #a6c94f;
$--Secondary: #9bc1f9;
$--Tertiary: #a6c94f;
$--Background-HF: #ecf2fb;
$--Tag: #fdfdfd;
$--Join: #fcf4e0;
$--Wrong: #f78254;

$--Status_green: #0da500;

$--Font-Primary: 'Fira Sans', 'Arial', sans-serif;
$--Font-Logo: 'Helios Cond', 'Arial', sans-serif;
