$--Light-grey: #d7d7d7;
$--Dark-grey: #959595;
$--White: #fff;
$--Black: #000;
$--Primary: #333;
$--Error: #bf0000;
$--Text: #3f3f3f;
$--Button_primary: #A6C94F;
$--Secondary: #9bc1f9;

$--Font-Primary: 'Fira Sans', 'Arial', sans-serif;
