.join__container {
	margin: 100px 130px 0;
}

.join__title {
	margin: 0;
	font-size: 56px;
	font-weight: 500;
	line-height: 100%;
}

.join__items {
	display: flex;
	gap: 20px;
	margin-top: 50px;
}
.join__item {
	position: relative;
	width: 820px;
	height: 360px;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #858585;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.join__subtitle {
	color: white;
	font-size: 28px;
	font-weight: 500;
	line-height: 28px;
}

.join__button {
	width: 286px;
	height: 58px;
	cursor: pointer;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #333;
	border: none;
	color: white;
	align-items: end;
	position: absolute;
	right: 40px;
	bottom: 40px;
}
