.login-password-reset {
	display: block;
	margin: 152px auto 36px auto;

	&__wrapper {
		padding: 0;
		display: flex;
		justify-content: flex-start;
		gap: 312px;
		align-items: flex-end;
		min-width: 1100px;
		min-height: 480px;
	}
}

@media (max-width: 1919px) {
	.login-password-reset {
		margin: 56px auto 50px auto;

		&__wrapper {
			min-width: 980px;
			min-height: 380px;
			gap: 247px;
		}
	}
}
