@import '../../style/variables.scss';

.footer {
	background-color: $--Background-HF;
	margin-top: auto;

	&__container {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1920px;
		margin: 0 auto;
		padding: 15px 70px;
	}
}
