.buttons-tabs__container {
	display: grid;
	grid-template-columns: repeat(5, 149px);
	gap: 20px;
}

@media screen and (max-width: 1919px) {
    .buttons-tabs__container{
        grid-template-columns: repeat(5, 130px);
    }
}
