@import '../../style/variables.scss';

.input__container {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.input__label {
	margin: 0 0 12px;
	color: $--Text;
	font-family: Fira Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px; /* 147.883% */
}
.input__field {
	min-width: 300px;
	height: 50px;
	box-sizing: border-box;
	padding: 0 16px;
	color: $--Text;
	font-family: Fira Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px; /* 147.883% */
	border-radius: 5px;
	border: 1px solid $--Text;
}
.input__field-error {
	border: 1px solid $--Wrong;
}
.input__error-message {
	display: none;
	margin: 8px 0 0;
	color: $--Wrong;
	font: {
		family: 'Fira Sans', sans-serif;
		size: 20px;
		weight: 400;
		style: normal;
	}
	line-height: 23px; /* 115% */
}
.input__error-message_show {
	display: block;
}
.input__field::placeholder {
	font-family: Fira Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;
}
