@import '../../style/variables.scss';

.add-project {
	margin: 0 auto;
	// padding: 38px 130px 223px;
	max-width: 1598px;

	&__name-container {
		max-width: 540px;
		box-sizing: border-box;
		margin: 54px 0 76px;
		display: flex;
		align-items: center;
		gap: 12px;
		grid-area: name;
	}

	&__input-name {
		display: block;
		min-width: 540px;
		min-height: 34px;
		margin: 0;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid $--Primary;
		color: $--Text;
		font: {
			family: $--Font-Primary;
			size: 20px;
			style: normal;
			weight: 400;
		}
		line-height: 23px; /* 115% */
		&:focus {
			outline-width: 0;
		}
		&::placeholder {
			color: $--Dark-grey;
		}
	}

	&__button {
		background-color: transparent;
		background-position: 50%;
		background-repeat: no-repeat;
		border: none;
		box-sizing: border-box;
		cursor: pointer;
	}

	&__edit-button {
		min-width: 40px;
		min-height: 40px;
		background-image: url(../../images/pensil.svg);
	}

	&__content {
		display: flex;
		gap: 20px;
		grid-area: contnt;
	}

	&__image-wrapper {
		max-width: 398px;
		display: flex;
		flex-direction: column;
		row-gap: 60px;
		grid-area: image;
	}

	&__upload-image-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	&__upload-image-label {
		color: $--Text;
		font: {
			family: $--Font-Primary;
			size: 23px;
			style: normal;
			weight: 500;
		}
		line-height: 130%; /* 29.9px */
	}

	&__button {
		background-color: transparent;
		background-position: 50%;
		background-repeat: no-repeat;
		border: none;
		box-sizing: border-box;
		cursor: pointer;
	}

	&__upload-image-button {
		order: none;
		border-radius: 0;
		width: 40px;
		height: 40px;
		position: relative;
		visibility: hidden;

		&::after {
			content: url(../../images/button-upload.svg);
			position: absolute;
			top: 0;
			left: 0;
			visibility: visible;
		}
	}

	&__form-wrapper {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__form-buttons {
		display: flex;
		gap: 41px;
	}

	&__general-group {
		display: grid;
		grid-template-columns: minmax(400px, 580px) minmax(400px, 580px);
		column-gap: 20px;
	}

	&__place-group {
		display: grid;
		grid-template-columns: min-content 1fr;
		gap: 20px;
	}
	&__dates-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, 400px);
		gap: 20px;
	}
	&__additional-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, 400px);
		gap: 20px;
	}
	&__caption-group {
		color: $--Text;
		font: {
			family: $--Font-Primary;
			size: 23px;
			style: normal;
			weight: 500;
		}
		line-height: 130%; /* 29.9px */
	}
	&__form {
		display: grid;
		grid-template:
			'name name'
			'image contnt';
		column-gap: 20px;
	}
	@media screen and (max-width: 1366px) {
		&__form {
			display: grid;
			grid-template:
				'name image'
				'contnt contnt';
		}

		&__name-container {
			margin: 0;
			display: flex;
			align-items: flex-end;
			gap: 12px;
			grid-area: name;
		}

		&__image-wrapper {
			max-width: 463px;
			display: flex;
			flex-direction: column;
			row-gap: 16px;
			grid-area: image;
		}
	}
}
