.login-password-recovery {
	display: block;
	margin: 152px auto 0 auto;

	&__wrapper {
		padding: 0;
		display: flex;
		justify-content: flex-start;
		gap: 312px;
		align-items: flex-end;
		min-width: 1100px;
		min-height: 480px;
	}
}
