@import '../../style/variables.scss';

.image-component {
	background-color: transparent;
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&__type {
		&_entrance {
			width: 632px;
			height: 515px;
		}
		&_flashlight {
			width: 165px;
			height: 480px;
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
	}

	@media (max-width: 1919px) {
		&__type {
			&_entrance {
				width: 471px;
				height: 384px;
			}
		}
	
	}
}
