@import '../../style/variables.scss';
.card-income {
	display: grid;
	grid-template-columns: 6fr 7fr;
	grid-template-rows: auto 48px auto auto;	
	&__title {
		margin: 10px 0 0;
	}
	&__letter{
		max-width: 100%;		
		word-break: break-all;
	}
	&__button {
		height: 48px;
		align-self: flex-end;
	}
	&__modal-remove {
		display: flex;
		flex-direction: column;
		align-items: center;
		> img {
			width: 150px;
		}
	}
	&__button-remove {
		background: url('../../images/basket-colored.svg');
		width: 40px;
		height: 40px;
		border: none;
		justify-self: end;
		cursor: pointer;
	}
	&__button_about {
		align-self: start;
	}
	&__photo {
		justify-self: center;
		width: 100%;
		border-radius: 10px;
		height: 248px;
		object-fit: cover;
	}
	&__subtitle {
		margin: 0 0 10px 0;
	}
	&__skills {
		margin: 0;
	}
	&__buttons {
		display: flex;
		gap: 10px;
		> button {
			width: 100%;
		}
		flex-wrap: wrap;
	}

	&_layout_default {		
		row-gap: 10px;
		column-gap: 20px;
		> .card-income__title {
			grid-column: 1/3;
		}
		> .card-income__photo {
			grid-row: 2/5;
			width: 100%;
		}
	}
	&_layout_accepted {		
		row-gap: 20px;
		column-gap: 28px;
		> .card-income__title {
			grid-column: 1/3;
		}
		> .card-income__photo {
			grid-row: 2/5;
		}
		> .card-income__button_about {
			align-self: end;
		}
	}
	&_layout_modal {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(3, auto);
		row-gap: 20px;
		column-gap: 28px;
		> .card-income__title {
			grid-column: 1/3;
		}
		> .card-income__about {
			display: flex;
			flex-direction: column;
		}
		> .card-income__buttons {
			flex-wrap: nowrap;
			align-items: end;
		}
	}
}
