@import '../../style/variables.scss';

.popup-success {
	background-color: rgba(236, 242, 251, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: all 0.5s ease;
	opacity: 0;
	visibility: hidden;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		max-width: 640px;
		width: 100%;
		border: none;
		background-color: $--White;
		border-radius: 10px;
		padding: 30px 30px 50px 30px;
		gap: 20px;
		border: 1px solid $--Text;
	}

	&__image {
		width: 346px;
        height: 154px;
        background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		padding: 0;
	}

	&_opened {
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}

	&__title-container {
		display: flex;
		width: 100%;
		justify-content: flex-start;
	}

	&__title {
		font-weight: 500;
		font-size: 28px;
		line-height: 28px;
		color: $--Primary;
        margin: 0;
	}

	&__close {
		width: 24px;
		height: 24px;
		background-image: url(../../images/confirm-exit.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		padding: 0;
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}

	&__close:hover {
		opacity: 0.6;
		transition: all 0.5s;
	}
}

