$color: #a6c94f;
$font-family: Fira Sans;
$font-size: 20px;
$line-height: 23px;

.toggle-button {
	width: 190px;
	height: 36px;

	box-sizing: border-box;

	border: none;
	border-radius: 5px;

	background-color: transparent;

	font-family: $font-family;
	font-size: $font-size;
	font-style: normal;
	font-weight: 400;
	line-height: $line-height;

	cursor: pointer;

	&_active {
		background-color: $color;
		color: #fff;
	}
}
