@import '../../style/variables.scss';

.profile {
	&__data {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-left: 36px;
		margin-right: 10px;
		padding: 0px 30px 26px 0px;
		color: $--Text;

		&-title {
			margin: 0;
			font-size: 23px;
			font-weight: 500;
			line-height: 130%;
		}
		&-subtitle {
			font-size: 20px;
			font-weight: 400;
			line-height: 23px;
			margin: 10px 0 0;
		}
	}
}

@media screen and (max-width: 1918px) {
	.profile__data {
		padding: 0 35px 16px 0;
		gap: 40px;
	}
}
