@import '../../style/variables.scss';

.contacts {
	display: flex;
	flex-direction: column;
	gap: 50px;

	&__title {
		margin: 0;
		font-size: 56px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
	}

	&__icon-list,
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__list_type_main {
		gap: 32px;
	}

	&__list_type_footer {
		gap: 7px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: flex-end;
	}

	&__subtitle,
	&__info {
		margin: 0;
		font-style: normal;
	}

	&__subtitle_type_main,
	&__info_type_main {
		font-size: 23px;
		line-height: 1.3;
	}

	&__subtitle_type_footer,
	&__info_type_footer {
		text-decoration: none;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.15;
		color: $--Text;
	}

	&__subtitle_type_main {
		font-weight: 700;
	}

	&__info_type_main {
		font-weight: 400;
	}

	&__icon-list {
		display: flex;
		gap: 17px;
	}

	&__link {
		margin: 0;
		text-decoration: none;
	}

	&__icon {
		width: 24px;
		height: 24px;
	}
}
@media screen and (max-width: 450px) {
	.contacts {
		&__item {
			max-width: 148px;
			align-items: flex-start;
			overflow: hidden;
			text-overflow: ellipsis;
			gap: 17px;
		}
		&__info_type_footer {
			font-size: 14px;
			line-height: 23px;
		}
		&__subtitle {
			font-size: 14px;
		}
	}
}
