@import '../../style/variables.scss';

.news {
	&__cards-item {
		max-width: 540px;
	}
	&__card-image {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		background-color: $--Light-grey;
		height: 260px;
		border-radius: 10px;
	}
	&__card-button {
		border: none;
		border-radius: 30px;
		background-color: $--Dark-grey;
		text-align: center;
		padding: 10px;
		height: 32px;
		margin: 22px 0 0 22px;
		font-size: 12px;
		font-weight: 400;
		font-family: $--Font-Primary;
		line-height: 17px;
		transition: opacity 100ms ease-in;
	}
	&__card-button:hover {
		opacity: 0.8;
		cursor: pointer;
	}
	&__card-description {
		margin: 23px 0 50px 0;
		font-size: 23px;
		font-weight: 400;
		line-height: 130%;
	}
	&__card-date {
		font-size: 23px;
		font-weight: 400;
		line-height: 130%;
	}
}
