.custom-slider {
	width: 540px !important;
}
.swiper-button-prev {
	top: var(--swiper-navigation-top-offset, 35%) !important;
}
.swiper-button-next {
	top: var(--swiper-navigation-top-offset, 35%) !important;
}

@media screen and (max-width: 450px) {
	.custom-slider {
		width: 358px !important;
	}
}
